header,
footer {
    display: block;
}


head {
    height: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

head div img  { 
    height: 10px;
    display: block;
    margin-left: 10px;
}

 
/*########## Nav Bar ###############*/
nav {
    width: 100%;
    margin: 0;
 }

nav ul {
    background-color: #d8d8d8;
    overflow: hidden;
    margin: 0;
}
 ul.topnav li {
    list-style: none;
    float: left;
 }

 ul.topnav li a {
    display: block;
    min-height: 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    text-align: center;
    padding: 3;
    text-transform: uppercase;
    color: #666;
 }

 ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
 }

 ul.topnav li.dropdownIcon {
    display: none;
 }

 /* ########## Mobile ############ */
 @media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;

    }
 }