*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    display: inline-block;
    width: 100% ;
    background-color: #FABCAA;
    border: 2px solid turquoise;
    height: 15vh;
    min-height: 60px;
    border-radius: 10px 3px;
    padding: 1px 10px;
    
}
nav{
    display: inline-block;
    width: 100% ;
    background-color: #D6FFC0;
    border: 2px dotted cadetblue;
    height: 15vh;
    min-height: 50px;
    border-radius: 10px 3px;
    padding: 3px 10px;
    margin-top: 3px;
}
aside{
    display: in-block;
    width: 18vw;
    height: 150vh;
    background-color: rgba(205,175,149,0.7);
    border: 2px solid #FF1CAE;
    margin-top: 3px;
    float:left;
    border-radius: 5px;
    padding: 5px;
}

main{
    display: inline-block;
    background-color: rgb(205,155,155);
    float: left;
    width: 60%;
    height: 150vh;
    margin: 3px 0 0 2px;

}

section{
    display: inline-block;
    background-color: hsl(10,55%,70%);
    width: 20%;
    height: 150vh;
    margin-top: 3px;
    margin-left: 3px;
    float: left;
}

article{
    display: inline-block;
    width: 95%;
    margin: 4px;
    background-color: #DDA0DD;
    height: 30%;
}

footer{
    display: inline-block;
    width: 100%;
    height: 7vmin;
    background-color: #96C;
    margin: 4px;
}

.nlist{
    list-style-type: none;
    display: inline-block;
    background-color: rgb(120,20,120);
    width: 150px;
    padding: 3px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}

.nav-ul a{
    text-decoration: none;
    background-color: gray;

}

table caption{
    background-color: gray;
    color: white;
}

#studID,#sname,#fname,#oname,#dob,#sEmail{
    border: 2px solid #854550;
    border-radius: 4px;
    margin: 5px 2px;
}

label{
    display: inline-block;
    width: 20%;
}

[required]{
    border-right-color: red;
    border-right-style: solid;
    border-right-width: 4px;
}

[type ^=te]{
    font-family: Arial;
    font-size: large;
    font-weight: bolder;
    text-align: right;
}

.nlist:hover,td:hover{
    width: 110px;
    background-color: rgb(50,60,70);
}

tr:nth-child(2n){
    background-color: burlywood;

}

tr:last-child{
    background-color: #901076;
}

fieldset+label{
    margin-top: 10px;
}

h2::first-letter{
    font-family: Arial;
    color: aquamarine;
}
u:last-child{
    font-weight: bold;
}

